@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .max-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}
html {
  scroll-behavior: smooth;
}
* {
  transition: all 0.6s ease;
}
